streamlit>=1.33.0
pymupdf
openai
pytesseract
pillow
pandas
openpyxl
python-dotenv
python-docx
transformers
torch
addict
matplotlib
numpy
scipy
opencv-python
einops
easydict
timm
openpyxl
requests
Authlib>=1.3.2
