name: Trigger auto deployment for contractanalyser-mehler

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/contractanalyser-mehler-AutoDeployTrigger-1ea746b7-d846-4a39-9cca-e9650194b698.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CONTRACTANALYSERMEHLER_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CONTRACTANALYSERMEHLER_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CONTRACTANALYSERMEHLER_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: hzgenaicontainerregistry.azurecr.io
          registryUsername: ${{ secrets.CONTRACTANALYSERMEHLER_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CONTRACTANALYSERMEHLER_REGISTRY_PASSWORD }}
          containerAppName: contractanalyser-mehler
          resourceGroup: AIWebinarRAG01_RG
          imageToBuild: hzgenaicontainerregistry.azurecr.io/contractanalyser-mehler:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


